.MarketPlace {
  padding: 30px;
  background: radial-gradient(94.32% 94.6% at 4.04% -44.6%, #7ec1ff 0%, #002b5e00 100%),
    linear-gradient(0deg, #ffffff, #e6f7ff);

  .offer {
    // background: radial-gradient(94.32% 94.6% at 4.04% -44.6%, #7ec1ff 0%, #002b5e00 100%),
    //   linear-gradient(0deg, #ffffff, #e6f7ff);
    padding: 15px;
    display: flex;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
  }
  .price {
    font-size: 21px;
  }

  .makeOffer {
    padding: 15px;
    margin-top: 30px;
  }
}
