.MarketPlace {
  padding: 30px;
  background: radial-gradient(94.32% 94.6% at 4.04% -44.6%, #7ec1ff 0%, #002b5e00 100%),
    linear-gradient(0deg, #ffffff, #e6f7ff);

  .MarketPlaceWrapper {
    max-width: 815px;
    margin: auto;
  }

  .offer {
    padding: 15px;
    // display: flex;
    // justify-content: space-between;
    // margin: auto;
    // margin-right: 10px;
    p {
      margin: 0;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
    }
  }
  .price {
    font-size: 21px;
  }

  .makeOffer {
    padding: 20px 15px;

    div.ant-col.ant-col-16.ant-form-item-control input {
      width: 300px;
    }
  }

  .TokenForm {
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
