@import '../../styles/colors.scss';

.steps {
  background: $white;
  border-radius: 24px;
  color: $black;
  padding: 1px 1px 3px;
  border-radius: 24px;
  padding: 15px;
  margin: 15px;
  width: 75%;
  border: 2px solid $light-gray;

  & * {
    font-size: 15px;
  }

  .steps-content {
    height: 520px;
    padding: 20px 10px 10px;
  }
  .steps-action {
    display: flex;
    justify-content: space-between;
  }
  .steps-next-button {
    align-self: flex-end;
  }

  .ant-steps-dot .ant-steps-item-icon,
  .ant-steps-dot.ant-steps-small .ant-steps-item-icon {
    margin-top: 12px;
  }
}
