.Classification {
  td {
    padding: 8px 8px;
    height: 49px;
  }
  .head-cell {
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
  }
  .last-head-cell {
    background-color: #fafafa;
    border: 0;
  }
}

.Regression {
  padding-bottom: 30px;
}

.results-action {
  padding: 20px 0;
  button {
    margin-right: 15px;
  }
}

.transaction-costs {
  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
}
